doctype
html
 head
  meta(charset="utf-8")
  meta(name="viewport" , content="width=640,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no")
  meta(name="apple-mobile-web-app-capable" , content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" , content="black")
  title=title
  link(rel="stylesheet",href="../../style/iphone.css")
 body
  #main
   - for (var key in Pages)
     - var page = Pages[key]
     .page(style="display:none;background-image:url(" + page.src + ");width:" + page.w + "px;" + "height:" + page.h + "px;" , id="page_" + page.id , name=page.name)
      - for (var i in page.buttons)
       - var button = page.buttons[i]
       .button(style="width:" + button.w + "px;height:" + button.h + "px;left:" + button.x + "px;top:" + button.y+"px;",link=button.link)

  script(src="../../script/iphone.js")
  script(src="../../script/ga.js")